<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sahil.number">

<!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Number Magic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >

        <activity
            android:name=".Main21Activity"
            android:label="Finding your number"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main20ActivityPrivacyPolicy"
            android:label="About"
            android:parentActivityName=".Main19Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main20ActivityTroubleshoot"
            android:label="Troubleshoot"
            android:parentActivityName=".Main19Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main20ActivityContactSupport"
            android:label="Contact Support"
            android:parentActivityName=".Main19Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main19Activity"
            android:label="Settings"
            android:parentActivityName=".Main3Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".Main17Activity"
            android:label="Number Magic"
            android:parentActivityName=".Main3Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main7Activity"
            android:label="Questions"
            android:parentActivityName=".Main3Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main3Activity"
            android:label="Instructions"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main9Activity"
            android:label="Number Magic"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-8269676722845246~5275043684"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>